.times {
    @apply font-serif;
}
  .sidebar {
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    left: -250px; /* Initially hidden */
    transition: left 0.3s ease;
    padding: 20px;
  }
  
  .sidebar.open {
    left: 0; /* Slide into view */
  }
  
  .sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .sidebar-content ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar-content li {
    padding: 10px 0;
    cursor: pointer;
  }